[run]

# adicionando caminho para utilizar apenas o comando pytest --cov
source = funcionario

[report]
exclude_lines =
    def __str__

[html]
directory = python_tdd\coverage_relatorio_html
# pytest --cov=funcionario python_tdd\tests\ --cov-report html
